<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <h1>Calculadora</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
  <ion-item>
    <ion-label><h1>Operação</h1></ion-label>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Insira"></ion-input>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label><h1>Resultado</h1></ion-label>
  </ion-item>


  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block">MC</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block">MR</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block">M+</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block">M-</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block">MS</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block">M▾</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button expand="block">%</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block">√</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block">X²</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block">¹/X</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button expand="block">CE</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block">C</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block"><ion-icon name="close-circle-outline"></ion-icon></ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block">÷</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button class= "number" expand="block">7</ion-button>
      </ion-col>
      <ion-col>
        <ion-button class= "number" expand="block">8</ion-button>
      </ion-col>
      <ion-col>
        <ion-button class= "number" expand="block">9</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block">×</ion-button>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <ion-button class= "number" expand="block">4</ion-button>
      </ion-col>
      <ion-col>
        <ion-button class= "number" expand="block">5</ion-button>
      </ion-col>
      <ion-col>
        <ion-button class= "number" expand="block">6</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block">-</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button class= "number" expand="block">1</ion-button>
      </ion-col>
      <ion-col>
        <ion-button class= "number" expand="block">2</ion-button>
      </ion-col>
      <ion-col>
        <ion-button class= "number" expand="block">3</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block">+</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button expand="block">±</ion-button>
      </ion-col>
      <ion-col>
        <ion-button  class= "number" expand="block">0</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block">,</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block">=</ion-button>
      </ion-col>
    </ion-row>

</ion-grid>
</ion-card>
</ion-content>


