@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans:wght@300&display=swap');

h1{
  font-family: 'Nanum Gothic', sans-serif;
  font-family: 'Noto Sans', sans-serif;
  font-size: 23px;
}


ion-content{
ion-button{
  color:  #000000; //color letter button

  --background: #e4e4e4; //color button
  font-family: 'Nanum Gothic', sans-serif;
  font-family: 'Noto Sans', sans-serif;
  font-size: medium;
}

--background: #f5f4f4; //fundo content

ion-card{
  --background: #f5f4f4;
}
}


ion-toolbar{
  --background: #f5f4f4; //fundo header


  ion-title{
    h1{
      font-family: 'Nanum Gothic', sans-serif;
      font-family: 'Noto Sans', sans-serif;
      font-weight: bold;
    }
    }
}

ion-item{
  --background: #f5f4f4;
}
